{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "components": "./app/src/components",
          "core": "./app/src/core",
          "pages": "./app/src/pages",
          "partials": "./app/src/partials",
          "store": "./app/src/app/store.js",
          "features": "./app/src/features",
          "services": "./app/src/services"
        }
      },
      "@babel/plugin-syntax-dynamic-import"
    ]
  ],
  "presets": ["@babel/preset-env", "@babel/preset-react"]
}
